body{
    background-image: url("https://down-br.img.susercontent.com/file/br-11134201-7r98o-lw8s7a81fatsb5");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}